# Street Light Data

In [356]:
# import libraries
import pandas as pd
import numpy as np
import math
from collections import defaultdict

### Dictionary: the number of trips origined from each county (e.g. 17001)

for both annully aggregated data and street light data

In [307]:
# read the annully aggregated data
od_trips_df = pd.read_csv("origin_dest_trips_census_tract_level.csv")
od_trips_df

         RESIDENCE    WORKPLACE  JOBS
0      17001000100  17001000100   139
1      17001000100  17001000201    12
2      17001000100  17001000202     9
3      17001000100  17001000400    10
4      17001000100  17001000500   119
...            ...          ...   ...
80423  17203030700  17113005102     2
80424  17203030700  17143001600     5
80425  17203030700  17179021201     2
80426  17203030700  17203030601     6
80427  17203030700  17203030700    99

[80428 rows x 3 columns]

In [308]:
od_dict = defaultdict(int)
num_ct = od_trips_df.shape[0]
for i in range(num_ct):
    fip = int(od_trips_df.iloc[i,0]/10e5-17000)
    od_dict[fip]+= od_trips_df.iloc[i,2]

In [310]:
# read the street light data
streetlight_trips_p4 = pd.read_csv("/Users/zhangyuqi/Documents/NCSA/Exposure_Risk_Analysis_in Rural_Illinois/Streetlight_Data/streetlight_trips_p4.csv")[['Origin.ID', 'Destination.ID', 'Traffic.V']]
streetlight_trips_p4

      Origin.ID  Destination.ID  Traffic.V
0            31              31   13744545
1            43              43    2403247
2           197             197    1813707
3            97              97    1767243
4            89              89    1026100
...         ...             ...        ...
8755         99             185          0
8756         99             191          0
8757         99               3          0
8758         99              33          0
8759         99              61          0

[8760 rows x 3 columns]

In [311]:
sl_dict = defaultdict(float)
num_ct = streetlight_trips_p4.shape[0]
for i in range(num_ct):
    fip = int(streetlight_trips_p4.iloc[i,0])
    sl_dict[fip]+= streetlight_trips_p4.iloc[i,2]

### Double Dictionary: (county level) number of trips from each origin to each dest

In [314]:
#function to fo defaultdict(defaultdict(int))
# when {} is empty, enable
# df['a']['b']+=1
def defaultdict_int():
    return defaultdict(int)

In [315]:
# anuallly aggregated data 
# origin -> destination (county level) frequency dictionary
od_od_dict = defaultdict(defaultdict_int)
num_ct = od_trips_df.shape[0]
for i in range(num_ct):
    fip_o = int(od_trips_df.iloc[i,0]/10e5-17000)
    fip_d = int(od_trips_df.iloc[i,1]/10e5-17000)
    od_od_dict[fip_o][fip_d] += od_trips_df.iloc[i,2]

In [316]:
# street light data 
# origin -> destination (county level) frequency dictionary
sl_od_dict = defaultdict(defaultdict_int)
num_ct = streetlight_trips_p4.shape[0]
for i in range(num_ct):
    fip_o = int(streetlight_trips_p4.iloc[i,0])
    fip_d = int(streetlight_trips_p4.iloc[i,1])
    sl_od_dict[fip_o][fip_d] += streetlight_trips_p4.iloc[i,2]

### Update the number of trips in anually aggregated data according to the number of trips in street light data

In [345]:
slod_trips_df = od_trips_df.copy(deep=True)

num_ct = od_trips_df.shape[0]
for i in range(num_ct):
    fip_o = int(od_trips_df.iloc[i,0]/10e5-17000)
    fip_d = int(od_trips_df.iloc[i,1]/10e5-17000)
    if od_od_dict[fip_o][fip_d] == 0:# if the denorminator is 0
        multiplier = 0
    else:
        multiplier = sl_od_dict[fip_o][fip_d]/od_od_dict[fip_o][fip_d]
    slod_trips_df.iloc[i,2] = multiplier*od_trips_df.iloc[i,2]

In [346]:
slod_trips_df

         RESIDENCE    WORKPLACE         JOBS
0      17001000100  17001000100  4955.433246
1      17001000100  17001000201   427.807187
2      17001000100  17001000202   320.855390
3      17001000100  17001000400   356.505989
4      17001000100  17001000500  4242.421268
...            ...          ...          ...
80423  17203030700  17113005102    47.255663
80424  17203030700  17143001600    35.376124
80425  17203030700  17179021201   152.861111
80426  17203030700  17203030601   469.589286
80427  17203030700  17203030700  7748.223214

[80428 rows x 3 columns]

In [375]:
slod_trips_df.to_csv("origin_destination_streetlight.csv")

In [347]:
slod_dict = defaultdict(int)
num_ct = slod_trips_df.shape[0]
for i in range(num_ct):
    fip = int(slod_trips_df.iloc[i,0]/10e5-17000)
    slod_dict[fip]+= slod_trips_df.iloc[i,2]

### Evaluation and EDA

#### similarity between street light data and annual aggregated data

In [ ]:
num_ct = od_trips_df.shape[0]
nu = 0
de = 0
for i in range(num_ct):
    fip_o = int(od_trips_df.iloc[i,0]/10e5-17000)
    fip_d = int(od_trips_df.iloc[i,1]/10e5-17000)
    de += 1
    if od_od_dict[fip_o][fip_d] != 0 and sl_od_dict[fip_o][fip_d] != 0:
        nu += 1
nu/de

#### Calculate the RMSE and the absolute error

In [360]:
SSE = 0
for fip in slod_dict:
    error = (slod_dict[fip]-sl_dict[fip])**2
    SSE += error
RMSE = math.sqrt(SSE/len(slod_dict))
RMSE

2908.6405053120166

In [370]:
sl_mean = np.mean(list(sl_dict.values()))

In [371]:
RMSE/sl_mean

0.007418071076689271